---
Name: elementalmigration
---
Sunnysideup\MigrateData\Tasks\MigrateDataTask:

  items_to_migrate:

    ElementalMigration:


      pre_sql_queries:
        - 'ALTER TABLE "Widget" CHANGE "ClassName" "ClassName" VARCHAR(255)'
        - 'ALTER TABLE "Widget_Live" CHANGE "ClassName" "ClassName" VARCHAR(255)'
        - 'ALTER TABLE "Widget_versions" CHANGE "ClassName" "ClassName" VARCHAR(255)'
        - 'UPDATE "Widget" SET "ClassName" = ''DNADesign\\Elemental\\Models\\ElementContent'' WHERE "ClassName" = ''ElementContent'';'
        - 'UPDATE "Widget_Live" SET "ClassName" = ''DNADesign\\Elemental\\Models\\ElementContent'' WHERE "ClassName" = ''ElementContent'';'
        - 'UPDATE "Widget_versions" SET "ClassName" = ''DNADesign\\Elemental\\Models\\ElementContent'' WHERE "ClassName" = ''ElementContent'';'
        - 'UPDATE "Widget" SET "ClassName" = ''DNADesign\\ElementalVirtual\\Model\\ElementVirtual'' WHERE "ClassName" = ''ElementVirtualLinked'';'
        - 'UPDATE "Widget_Live" SET "ClassName" = ''DNADesign\\ElementalVirtual\\Model\\ElementVirtual'' WHERE "ClassName" = ''ElementVirtualLinked'';'
        - 'UPDATE "Widget_versions" SET "ClassName" = ''DNADesign\\ElementalVirtual\\Model\\ElementVirtual'' WHERE "ClassName" = ''ElementVirtualLinked'';'


      data:
        0:
          old_table: 'Widget'
          new_table: 'Element'
          old_fields:
            - ClassName
            - LastEdited
            - Created
            - Title
            - Sort
            - Version
            - ParentID
          new_fields:
            - ClassName
            - LastEdited
            - Created
            - Title
            - Sort
            - Version
            - ParentID
        1:
          old_table: 'BaseElement'
          new_table: 'Element'
          old_fields:
            - ExtraClass
          new_fields:
            - ExtraClass
        2:
          old_table: 'Widget_Live'
          new_table: 'Element_Live'
          old_fields:
            - ClassName
            - LastEdited
            - Created
            - Title
            - Sort
            - Version
            - ParentID
          new_fields:
            - ClassName
            - LastEdited
            - Created
            - Title
            - Sort
            - Version
            - ParentID
        3:
          old_table: 'BaseElement_Live'
          new_table: 'Element_Live'
          old_fields:
            - ExtraClass
          new_fields:
            - ExtraClass
        4:
          old_table: 'Widget_versions'
          new_table: 'Element_Versions'
          old_fields:
            - ClassName
            - RecordID
            - LastEdited
            - Created
            - Title
            - Sort
            - Version
            - ParentID
          new_fields:
            - ClassName
            - RecordID
            - LastEdited
            - Created
            - Title
            - Sort
            - Version
            - ParentID
        5:
          old_table: 'BaseElement_versions'
          new_table: 'Element_Versions'
          old_fields:
            - ExtraClass
          new_fields:
            - ExtraClass
        6:
          old_table: 'ElementalArea'
          new_table: 'ElementalArea_Live'
          old_fields:
            - ClassName
            - LastEdited
            - Created
            - Version
            - OwnerClassName
          new_fields:
            - ClassName
            - LastEdited
            - Created
            - Version
            - OwnerClassName
        7:
          old_table: 'Page'
          new_table: 'Page'
          old_fields:
            - ElementAreaID
          new_fields:
            - ElementalAreaID
        8:
          old_table: 'Page_Live'
          new_table: 'Page_Live'
          old_fields:
            - ElementAreaID
          new_fields:
            - ElementalAreaID
        9:
          old_table: 'Page_Versions'
          new_table: 'Page_Versions'
          old_fields:
            - ElementAreaID
          new_fields:
            - ElementalAreaID
        10:
          old_table: 'ElementVirtualLinked'
          new_table: 'ElementVirtual'
          old_fields:
            - LinkedElementID
          new_fields:
            - LinkedElementID
        11:
          old_table: 'ElementVirtualLinked_Live'
          new_table: 'ElementVirtual_Live'
          old_fields:
            - LinkedElementID
          new_fields:
            - LinkedElementID


      publish_classes:
        - 'DNADesign\ElementalList\Model\ElementList'


      post_sql_queries:
        - 'UPDATE "Element" LEFT JOIN "BaseElement" ON "Element"."ID" = "BaseElement"."ID" LEFT JOIN "ElementList" ON "BaseElement"."ListID" = "ElementList"."ID" SET "Element"."ParentID" = "ElementList"."ElementsID" WHERE "Element"."ParentID" = 0 AND "BaseElement"."ListID" > 0'
        - 'UPDATE "Element" SET "ShowTitle" = ''1'' WHERE "ClassName" IN (''ElementSubHeading'', ''ElementHighlightBlock'', ''ElementHeading'')'
